#id_name { width: 600px; }
#id_description { width: 600px; }
#id_category_description { width: 600px; }
#id_page_title { width: 600px; }
#id_url { width: 600px; }
#id_meta_description { width: 600px; }
#id_meta_keywords { width: 600px; }
#id_product_name { width: 600px; }
#id_product_image { width: 600px; }
#id_store_link { width: 600px; }
