{% load i18n %}
{% load localeurl_tags %}
{% load navigation %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_product_navigation as product_navigation %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

    <head>
        <title>{% block page_title %}Clique{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/media/css/reset.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/text.css" />
        <link rel="stylesheet" type="text/css" href="/media/css/960.css" />
        <script type="text/javascript" src="/media/js/jquery-1.4.2.js"></script>
        <script type="text/javascript" src="/media/js/tiny_mce/tiny_mce_jquery_src.js"></script>
        <script type="text/javascript">
            tinyMCE.init({
            	mode : "textareas",
            	theme : "simple",
            	editor_selector : "mceEditor",
            	editor_deselector : "mceNoEditor"
            });
        </script>
        {% block extra_head %}{% endblock %}
    </head>
    
    <body>
    	<div class="container_12">
    	
    		<div class="grid_12">
    			<h1>Weider Nutrition Group</h1>
			    <form action="{% url localeurl_change_locale %}" method="post">
				{% csrf_token %}
				<input name="next" type="hidden" value="{{ request.path }}" />
				<select name="locale">
				{% for lang in LANGUAGES %}
					<option value="{{ lang.0 }}" {% >{{ lang.1 }}</option>
				{% endfor %}
				</select>
				<input type="submit" value="Change Language" />
				</form>
				{{ LANGUAGE_CODE }}
    		</div>
    		<div class="clear"></div>
    		
	        <div class="grid_3">
	        	<h2>Products</h2>
	        	{% block navigation %}
	        		{% for p in product_navigation %}
	        			<a href="{% url core.views.products_within_category p.url %}" title="{{ p.name }}">{{ p.name }}</a><br>	
	        		{% endfor %}
	        	<br>
	        	<h2>Resources</h2>
                <a href="{% url articles_within_category %}">Articles</a><br>
                <a href="{% url exercises_within_category %}">Exercises</a><br>
                <a href="{% url fitness_tips_within_category %}">Fitness Tips</a><br>
                <a href="{% url myth_busters_within_category %}">Myth Busters</a><br>
                <a href="{% url nutrition_tips_within_category %}">Nutrition Tips</a><br>
                <a href="{% url pages_list %}">Pages</a><br>
                <a href="{% url recipes_within_category %}">Recipes</a><br>
	        	{% endblock %}
	        </div>
	        <div class="grid_9">	
	        	{% block content %}{% endblock %}
	        </div>
	        <div class="clear"></div>
	        
    	</div>
    </body>

</html>
