{% extends 'base.html' %}

{% block content %}

<h1>Article Show</h1>

<div><strong>Page Title:</strong> {{ article.page_title }}</div>
<div><strong>Meta Description:</strong> {{ article.meta_description }}</div>
<div><strong>Meta Keywords:</strong> {{ article.meta_keywords }}</div>
<div><strong>Article Name:</strong> {{ article.name }}</div>
<div><strong>Body:</strong><br>{{ article.body|safe }}</div>
<div>
    <strong>Categories:</strong><br>
    {% for cat in article.categories.all %}
        {{ cat.name }}<br>
    {% empty %}
        No associated categories
    {% endfor %}
</div>
<div><strong>Make Live:</strong> {{ article.make_live }}</div>
<div><strong>Featured:</strong> {{ article.featured }}</div>
<div><strong>Include on primary navigation:</strong> {{ article.include_on_primary_navigation }}</div>
<div><strong>Sort Order:</strong> {{ article.sort_order }}</div>
<div><strong>Language:</strong> {{ article.language }}</div>

{% endblock %}
