{% extends 'base.html' %}

{% block content %}

<h1>Recipe Show</h1>
<div><strong>Page Title:</strong> {{ recipe.page_title }}</div>
<div><strong>Meta Description:</strong> {{ recipe.meta_description }}</div>
<div><strong>Meta Keywords:</strong> {{ recipe.meta_keywords }}</div>
<div><strong>Name:</strong> {{ recipe.name }}</div>
<div id="recipe_ingredients">{{ recipe.recipe_ingredients|safe }}</div>
<div id="recipe_also_enjoy">
<strong>Also Enjoy:</strong>
<ul>
{% for r in also_enjoy %}
	<li>{{ r }}</li>
{% empty %}
	<li>No recipes selected.</li>
{% endfor %}
</ul>
</div>
<div><strong>Make Live:</strong> {{ recipe.make_live }}</div>
<div><strong>Featured:</strong> {{ recipe.featured }}</div>
<div><strong>Include on primary navigation:</strong> {{ recipe.include_on_primary_navigation }}</div>
<div><strong>Sort Order:</strong> {{ recipe.sort_order }}</div>
<div><strong>Language:</strong> {{ recipe.language }}</div>

{% endblock %}
