{% extends 'base.html' %}

{% block content %}

<h1>Nutrition Tip Show</h1>

<div><strong>Page Title:</strong> {{ nutrition_tip.page_title }}</div>
<div><strong>Meta Description:</strong> {{ nutrition_tip.meta_description }}</div>
<div><strong>Meta Keywords:</strong> {{ nutrition_tip.meta_keywords }}</div>
<div><strong>Name:</strong> {{ nutrition_tip.name }}</div>
<div><strong>Body:</strong><br>{{ nutrition_tip.body|safe }}</div>
<div>
    <strong>Categories:</strong><br>
    {% for cat in nutrition_tip.categories.all %}
        {{ cat.name }}<br>
    {% empty %}
        No associated categories
    {% endfor %}
</div>
<div><strong>Make Live:</strong> {{ nutrition_tip.make_live }}</div>
<div><strong>Featured:</strong> {{ nutrition_tip.featured }}</div>
<div><strong>Include on primary navigation:</strong> {{ nutrition_tip.include_on_primary_navigation }}</div>
<div><strong>Sort Order:</strong> {{ nutrition_tip.sort_order }}</div>
<div><strong>Language:</strong> {{ nutrition_tip.language }}</div>

{% endblock %}
