{% extends 'base.html' %}

{% block content %}
	<h2>Fitness Tips</h2>
	<ul>
	{% for category in categories %}
		<li>
		    {{ category.name }}
		    <ul>
		    {% for fitness_tip in category.fitness_tips.all %}
		        <li><a href="{% url core.views.fitness_tip_within_category_show category.url fitness_tip.url %}">{{ fitness_tip.name }}</a></li>
		    {% empty %}
		        <li>No fitness tips.</li>
		    {% endfor %}
		    </ul>
		</li>
	{% empty %}
		<li>No categories.</li>
	{% endfor %}
	</ul>
{% endblock %}
