{% extends "admin/base_site.html" %}
{% load i18n %}
{% load class_name_lookup %}


{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="../../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../../">{{ app_label|capfirst }}</a> &rsaquo; 
     <a href="../../">{{ opts.verbose_name_plural|capfirst }}</a> &rsaquo;
     <a href="../">{{ object|truncatewords:"18" }}</a> &rsaquo;
     {% trans 'Delete' %}
</div>
{% endblock %}

{% block content %}
{% if perms_lacking %}
    <p>{% blocktrans with object as escaped_object %}Deleting the {{ object_name }} '{{ escaped_object }}' would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktrans %}</p>
    <ul>
    {% for obj in perms_lacking %}
        <li>{{ obj }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>{% blocktrans with object as escaped_object %}Are you sure you want to delete the {{ object_name }} "{{ escaped_object }}"? All of the following related items will be deleted:{% endblocktrans %}</p>
    <ul>
          {% for del_obj in deleted_objects %}
               <li><a href="{{ del_obj.get_admin_url }}" target="_blank">{{ object }}</a></li>
          {% endfor %}
    </ul>
    {% if object.get_associated_content_items|length > 0 %}
    <p>In addition, the following items reference what you are about to delete. Click on any below that you wish to edit:
    <ul>
        {% for ca in object.get_associated_content_items %}
            <li>{{ ca.instance|class_name_lookup|capfirst }}: <a href="{{ ca.instance.get_admin_url }}?links={{ ca.link_ids }}&field_ids={{ ca.field_ids }}" target="_blank">{{ ca.instance }}</a></li>
        {% endfor %}
    </ul>
    <script type="text/javascript">
        function refresh() {
            window.location = window.location;
        }
        window.setTimeout(refresh, 2000);
    </script>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
    <div>
    <input type="hidden" name="post" value="yes" />
    <input type="submit" value="{% trans "Yes, I'm sure" %}" />
    <input type="button" value="No way! Get me out of here!" onclick="window.location = window.location + '../';" style="font-size: 18px;" />
    </div>
    </form>
{% endif %}
{% endblock %}
