{% extends 'base.html' %}

{% block content %}
	<h2>All Products within category: {{ category }}</h2>
	<ul>
	{% for product in products %}
		<li><a href="{% url core.views.product_within_category_show category.url product.url %}" title="{{ product.name }}">{{ product.name }}</a></li>
	{% empty %}
		<li>No products.</li>
	{% endfor %}
	</ul>
	
	<h2>All Products with "for athletes" set within category: {{ category }}</h2>
	<ul>
	{% for product in athlete_products %}
		<li>{% if product.external_url %}
                        <a href="{{ product.url }}" title="{{ product.name }}">{{ product.name }}</a>
                    {% else %}
                        <a href="{% url core.views.product_within_category_show category.url product.url %}" title="{{ product.name }}">{{ product.name }}</a>
                    {% endif %}
                </li>
	{% empty %}
		<li>No products.</li>
	{% endfor %}
	</ul>
{% endblock %}